@media only screen and (min-width:991px) {
	.dropdown:hover > .dropdown-menu, .dropdown-menu .dropdown:hover > .sub-menu, .dropdown:hover > .zozo-megamenu-wrapper {
		visibility: visible;	
		animation-name: fadeIn;
		-moz-animation-name: fadeIn;
		-webkit-animation-name: fadeIn;
		-o-animation-name: fadeIn;
		-ms-animation-name: fadeIn;
		animation-duration: 0.6s;
		-moz-animation-duration: 0.6s;
		-webkit-animation-duration: 0.6s;
		-o-animation-duration: 0.6s;
		-ms-animation-duration: 0.6s;
		animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		-ms-animation-fill-mode: both;
	}
	.dropdown-menu {
		border: none;
		background: #FFFFFF;
		min-width: 220px;
		padding:0;	
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		-o-border-radius: 0px;
		-ms-border-radius: 0px;
		display: block;
		opacity: 0;
		visibility: hidden;		
	}
	.dropdown-menu, .dropdown-menu .sub-menu, .zozo-megamenu-container {
		box-shadow:none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-o-box-shadow: none;
		-ms-box-shadow:none;
	}
	.dropdown-menu li {
		position:relative;
	}
	.dropdown-menu > li > a, .dropdown-menu .sub-menu a {
		padding: 5px 10px;
		color:#000;
	}
	.dropdown-menu .sub-menu {
		position: absolute;
		top: 0;    
		padding: 0;
		margin:0;
		min-width: 180px;
		list-style: none;
		display: block;
		opacity: 0;
		visibility: hidden;
		}
	.zozo-main-nav.navbar-nav li:last-child .dropdown-menu .sub-menu {
		right: 100%;
		left:auto;
	}
	.dropdown-menu .sub-menu a {
		clear: both;   
		display: block;
		line-height: 1.42857;  
	}
	.dropdown-menu .sub-menu li:hover > a {
		color:#000;
	}
	.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
		margin-top: 0;
	}
	.zozo-megamenu-wrapper {
		visibility: hidden;
		min-width: 800px;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 100;
		opacity: 0;
		background: #FFFFFF;
	}
	.zozo-megamenu-container, .zozo-megamenu, .zozo-megamenu .zozo-megamenu-submenu .sub-menu {	
		list-style: none;	
	}
	.zozo-megamenu .zozo-megamenu-submenu .sub-menu {
		padding: 0;
		margin: 0;
	}
	.zozo-megamenu {
		display: table;	
		width: 100%;
		padding: 10px 0 0 0;
	}
	.zozo-megamenu > li {
		padding: 10px;
		/*border-right: 1px solid #C6C6C6;*/
		float: none;
		display: table-cell;
		text-align: left;
	}
	.navbar-nav .zozo-megamenu > li a {
		color: #000;	
	}
	.navbar-nav .zozo-megamenu > li a,
	.navbar-nav .dropdown-menu > li > a,
	.navbar-nav .dropdown-menu .sub-menu a {
		transition: all 0.2s ease-in 0s;
		-moz-transition: all 0.2s ease-in 0s;
		-webkit-transition: all 0.2s ease-in 0s;
		-o-transition: all 0.2s ease-in 0s;
		-ms-transition: all 0.2s ease-in 0s;
	}
	.zozo-megamenu > li:last-child {
		border: none;
	}
	.zozo-megamenu-title {	
		text-transform: uppercase;
		font-weight: bold;
		margin: 0;
		margin-bottom: 12px;
		color: #777;
		padding: 0 10px;
		display: inline-block;
	}
	.zozo-megamenu-title .zozo-megamenu-icon, .zozo-megamenu-icon {
		padding-right: 10px;
	}
	.zozo-megamenu-container a {
		display: block;
		padding: 5px 10px;
	}
	.zozo-megamenu-bullet {
		padding-right: 15px;
		display: none;
	}
	.nav > li.zozo-megamenu-menu {
		position: static;
	}
	.nav > li.zozo-megamenu-menu .dropdown-toggle:after {
		display: none;
	}
	.nav > li > a.dropdown-toggle{
		display: none;
	}
	.dropdown-menu > li > a.dropdown-toggle{
		display: none;
	}
	/* Mega Menu */
	.zozo-megamenu-menu.dropdown,
	.nav > li.zozo-megamenu-menu.dropdown > a{
		position: static;
	}
	.zozo-megamenu-menu.dropdown .row.zozo-megamenu-container{
		margin-left: auto;
		margin-right: auto;
	}
	/* Top Border Style */
	.dropdown-menu, .sub-menu{
		border-top: 3px solid;
	}
	
}

/* Navbar default */
.navbar-default{
	border: 0px;
	border-bottom: 1px solid;
	border-color:  #EDEDED;
}
.navbar-default .dropdown-menu,
.navbar-default .sub-menu{
	z-index: 999;
}

.nav > li:last-child > a{
	padding-right: 0;
}

.navbar-default .navbar-toggle {
    color: #ddd;
	font-size: 20px;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	  background-color: transparent;
}
.navbar-toggle.collapsed .fa-bars:before{
	content:"\f0c9";
}
.navbar-toggle .fa-bars:before{
	content:"\f00d";  
}
.one-page-nav .navbar-default .navbar-nav > .active > a, 
.one-page-nav .navbar-default .navbar-nav > .active > a:focus, 
.one-page-nav .navbar-default .navbar-nav > .active > a:hover{
	background: transparent;
}

.navbar-default .container, .navbar-collapse{
	padding-left: 0;
}
/* Category Label */
.cat-label {
    background: #138af9;
    border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 9px;
    font-weight: 800;
    margin-left: 10px;
    margin-top: 3px;
    padding: 2px 5px 4px;
    text-transform: capitalize;
    position: relative;
}
.cat-label:hover{
	text-decoration: none !important;
}
.cat-label.alignfit{
	float: none;
	padding: 1px 6px 2px;
}

.cat-label:after {
    background: none;
    height: 0;
    width: 0;
    border-width: 5px 5px 5px 5px;
    border-color: transparent #138af9 transparent transparent;
    content: "";
    position: absolute;
    left: -9px;
    top: 3px;
    border-style: solid;
}
.cat-label.alignfit:after{
	
}
.cat-label.hot{
	background: #EA0909;
}
.cat-label.hot:after{
	border-color: transparent #EA0909 transparent transparent;
}
.cat-label.trend{
	background: #1EB710;
}
.cat-label.trend:after{
	border-color: transparent #1EB710 transparent transparent;
}

/* One Page NavBar */
.dropdown li .back-btn{
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.dropdown li .back-btn i{
	font-size: 18px;
	float: left;
}
/* NavMenus */
.navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 70px;
	text-transform: uppercase;
	font-size: 12px;
}
/* Mini cart */
.mini-cart .dropdown-menu{
	min-width: 300px;
} 
.mini-cart .product-name{
	font-size: 14px;
}
.mini-cart .product-wrap {
    border-bottom: 1px solid #ddd;
    float: left;
    position: relative;
    width: 100%;
}
.product-thumb {
    float: left;
	width: 30%;
}
.mini-productdetail {
    float: left;
	width: 60%;
    margin-left: 20px;
    margin-top: 15px;
}
.mini-productdetail p {
    margin-bottom: 5px;
    margin-top: 0;
}
.mini-productdetail .product-name {
    color: #333;
}
.mini-productdetail .remove {
    color: #000;
    float: right;
    position: absolute;
    right: 10px;
    top: 32px;
}
/* Minicart Buttons */
.minicart-btns {
    float: left;
    text-align: center;
    width: 100%;
	padding: 15px 0 5px;
}
.minicart-btns-wrap > li {
    display: inline-block;
}
.minicart-btns-wrap a {
    border: 1px solid #ddd;
    color: #555555;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    line-height: 42px;
    padding: 0 20px;
	display: block;
}
.minicart-btns-wrap a:hover, .minicart-btns-wrap a:focus {
    background: #000 none repeat scroll 0 0;
    border-color: #000;
    color: #fff;
}
/* dark style */
.navbar-dark .mini-productdetail .remove,
.navbar-dark .mini-productdetail p,
.navbar-dark .mini-productdetail .product-name,
.navbar-dark  .minicart-btns-wrap a{
	color: #fff;
}
.navbar-dark  .minicart-btns-wrap a:hover, .navbar-dark  .minicart-btns-wrap a:focus  {
    background: #fff none repeat scroll 0 0;
    border-color: #fff;
    color: #222;
}
/* ------------ Top Bar --------------- */
.topbar-section{
	padding: 12px 0;
	background: #f5f5f5;
	border-bottom: 1px solid;
	border-color:  #EDEDED;
}
.topbar-section a, .topbar-section .social-links.light li a{
	color: #777;
}



.top-left i{
  margin-top: 4px;
  float: left;
}
.topbar-section .social-links li a {
	/* padding: 5px 4px; */
	color: #222;
	border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
	height: 25px;
	text-align: center;
	display: block;
	width: 25px;
	line-height: 25px;
	vertical-align: middle;
	padding: 0;
}

/* Top Left Section */
.top-left *{
	font-size: 13px;
}
.top-left li{
	display: inline-block;
	margin-right: 10px;
}
.top-left li a i{
	margin-right: 5px;
}
.top-left.vertical-left-align-middle-block{
	left: 15px;
}


/* Toggle Icon Last Border */
.header-contact{
	position: relative;
}
.header-contact:after{
	content: "";
	right: 0;
	height: 13px;
	width: 1px;
	position: absolute;
	transform: translateY(-50%) skew(-35deg);
	top: 50%;
	background-color: #aaa;
	
}
.header-search-content .navbar-form {
	margin-top: 5px;
}
/* Header toogle Contact */
.header-phone{
	font-size: 40px;
	float: left;
	margin-top: 7px;
}
/* Language dropdown  */
.collapse-lang img{
	margin-right: 8px;
	margin-top: -1px;
}
.dropdown.lang li{
	display: block;
}
.dropdown.lang .dropdown-menu{
	min-width: 150px;
}
.dropdown.lang .dropdown-menu li a:hover{
	background: transparent;
}
.top-left.pull-left{
	margin-top: 7px;
}

/* ========= DROP DOWN * ========== */
.navbar-brand{
	height: auto;
}
.dropdown-menu a{
	font-size: 13px;
}	
.dropdown-menu, .sub-menu{
	z-index: 99;
	padding: 10px ;
}
/* Nav submenu Left Align */
.dropdown-menu .left{
	left: auto;
	right: 100%;
}
/* Nav submenu Right Align */
.dropdown-menu .right{
	left: 100%;
}
/* ************ Navbar Dark ********************** */
.navbar-dark  .navbar-default{
	border-color: transparent;
}
.navbar-dark .is-sticky .navbar-default{
	background: #222;
}
.navbar-dark .navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-dark > .dropdown-menu > li > a:focus, .navbar-dark > .dropdown-menu > li > a:hover{
}
.navbar-dark .navbar-default,
.navbar-dark .dropdown-menu, 
.navbar-dark .sub-menu{
	background-color: #222;
}
.navbar-dark .navbar-default,
.navbar-dark .dropdown-menu, 
.navbar-dark .sub-menu{
	 box-shadow: 0 0 5px #ddd; -webkit- box-shadow: 0 0 5px #ddd; -moz- box-shadow: 0 0 5px #ddd; -ms- box-shadow: 0 0 5px #ddd; -o- box-shadow: 0 0 5px #ddd;
}

.navbar-dark .navbar-nav .zozo-megamenu > li a{
	color: #f5f5f5;
}
.navbar-dark .zozo-megamenu-title{
	color: #fff;
}
.navbar-dark .dropdown-menu > li > a:focus, .navbar-dark .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #fff;
}
.navbar-dark .dropdown-menu > li > a, .navbar-dark .dropdown-menu .sub-menu a{
	color: #fff;
}
.navbar-dark .dropdown-menu > li > a:focus, .navbar-dark .dropdown-menu > li > a:hover,
.navbar-dark .dropdown-menu > li > a, .navbar-dark .dropdown-menu .sub-menu a,
.navbar-dark .dropdown-menu .sub-menu li:hover > a{
	color: #fff;
}



/* ************ Navbar semi-dark ********************** */
.navbar-semi-dark .navbar-default{
	border-color: transparent;
}
.navbar-semi-dark .sticky-wrapper{
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
.navbar-semi-dark .navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-semi-dark > .dropdown-menu > li > a:focus, .navbar-semi-dark > .dropdown-menu > li > a:hover{
}
.navbar-semi-dark .navbar-default,
.navbar-semi-dark .dropdown-menu, 
.navbar-semi-dark .sub-menu{
	background-color: rgba(0,0,0,0.7);
}
.navbar-semi-dark .navbar-nav .zozo-megamenu > li a{
	color: #f5f5f5;
}
.navbar-semi-dark .zozo-megamenu-title{
	color: #fff;
}
.navbar-semi-dark .dropdown-menu > li > a:focus, .navbar-semi-dark .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #fff;
}
.navbar-semi-dark .dropdown-menu > li > a, .navbar-semi-dark .dropdown-menu .sub-menu a{
	color: #fff;
}
.navbar-semi-dark .dropdown-menu > li > a:focus, .navbar-semi-dark .dropdown-menu > li > a:hover,
.navbar-semi-dark .dropdown-menu > li > a, .navbar-semi-dark .dropdown-menu .sub-menu a,
.navbar-semi-dark .dropdown-menu .sub-menu li:hover > a{
	color: #fff;
}
.navbar-semi-dark .dropdown-menu > li > a:focus,
.navbar-semi-dark .dropdown-menu > li > a:hover,
.navbar-semi-dark .dropdown-menu .sub-menu a:hover,
.navbar-semi-dark .dropdown-menu .sub-menu a:focus{
	text-decoration: underline;
}

/* ************ Navbar light ********************** */
.navbar-light .navbar-default .navbar-nav > li > a{
	color: #222;
}
.navbar-light > .dropdown-menu > li > a:focus, .navbar-light > .dropdown-menu > li > a:hover{
}
.navbar-light .navbar-default, 
.navbar-light .dropdown-menu, 
.navbar-light .sub-menu{
	background-color: #fff;
}

.navbar-light .dropdown-menu, 
.navbar-light .sub-menu{
	 box-shadow: 0 0 5px #ddd; -webkit- box-shadow: 0 0 5px #ddd; -moz- box-shadow: 0 0 5px #ddd; -ms- box-shadow: 0 0 5px #ddd; -o- box-shadow: 0 0 5px #ddd;
}
.navbar-light .navbar-nav .zozo-megamenu > li a:hover{
}
.navbar-light .zozo-megamenu-title{
	color: #333;
}
.navbar-light .dropdown-menu > li > a:focus, .navbar-light .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #444;
}
.navbar-light .dropdown-menu > li > a, .navbar-light .dropdown-menu .sub-menu a{
	color: #222;
}
.navbar-light .dropdown-menu > li > a:focus, .navbar-light .dropdown-menu > li > a:hover,
.navbar-light .dropdown-menu > li > a, .navbar-light .dropdown-menu .sub-menu a,
.navbar-light .dropdown-menu .sub-menu li:hover > a{
	color: #222;
}
/* ************ Navbar semi-light ********************** */
.navbar-semi-light .sticky-wrapper{
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
.navbar-semi-light .navbar-default .navbar-nav > li > a{
	color: #222;
}
.navbar-semi-light > .dropdown-menu > li > a:focus, .navbar-semi-light > .dropdown-menu > li > a:hover{
}
.navbar-semi-light .navbar-default, 
.navbar-semi-light .dropdown-menu, 
.navbar-semi-light .sub-menu{
	background-color: rgba(255,255,255,0.8);
}
.navbar-semi-light .navbar-nav .zozo-megamenu > li a{
	color: #222;
}
.navbar-semi-light .zozo-megamenu-title{
	color: #333;
}
.navbar-semi-light .dropdown-menu > li > a:focus, .navbar-semi-light .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #444;
}
.navbar-semi-light .dropdown-menu > li > a, .navbar-semi-light .dropdown-menu .sub-menu a{
	color: #222;
}
.navbar-semi-light .dropdown-menu > li > a:focus, .navbar-semi-light .dropdown-menu > li > a:hover,
.navbar-semi-light .dropdown-menu > li > a, .navbar-semi-light .dropdown-menu .sub-menu a,
.navbar-semi-light .dropdown-menu .sub-menu li:hover > a{
	color: #222;
}
.navbar-semi-light .dropdown-menu > li > a:focus,
.navbar-semi-light .dropdown-menu > li > a:hover,
.navbar-semi-light .dropdown-menu .sub-menu a:hover,
.navbar-semi-light .dropdown-menu .sub-menu a:focus{
	text-decoration: underline;
}

/* ************ Navbar Transparent ********************** */
.navbar-transparent .navbar-default{
	border-color: transparent;
	border: 0px;
}
.navbar-transparent .sticky-wrapper{
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}
.navbar-transparent .navbar-default .navbar-nav > li > a{
	color: #222;
}

.navbar-transparent > .dropdown-menu > li > a:focus, .navbar-transparent > .dropdown-menu > li > a:hover{
}
.navbar-transparent .navbar-nav .zozo-megamenu > li a{
	color: #222;
}
.navbar-transparent .zozo-megamenu-title{
	color: #222;
}
.navbar-transparent .dropdown-menu > li > a:focus, .navbar-transparent .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #222;
}
.navbar-transparent .dropdown-menu > li > a, .navbar-transparent .dropdown-menu .sub-menu a{
	color: #222;
}
.navbar-transparent .dropdown-menu > li > a:focus, .navbar-transparent .dropdown-menu > li > a:hover,
.navbar-transparent .dropdown-menu > li > a, .navbar-transparent .dropdown-menu .sub-menu a,
.navbar-transparent .dropdown-menu .sub-menu li:hover > a{
	color: #222;
}
.navbar-transparent .dropdown-menu > li > a:focus,
.navbar-transparent .dropdown-menu > li > a:hover,
.navbar-transparent .dropdown-menu .sub-menu a:hover,
.navbar-transparent .dropdown-menu .sub-menu a:focus{
	text-decoration: underline;
}
.navbar-transparent .dropdown-menu .sub-menu a{
	color: #222;
}

.navbar-transparent .navbar-default, 
.navbar-transparent .dropdown-menu, 
.navbar-transparent .sub-menu{
	background-color:transparent;
}

.navbar-transparent .dropdown-menu > li > a:focus,
.navbar-transparent .dropdown-menu > li > a:hover,
.navbar-transparent .dropdown-menu .sub-menu a:hover,
.navbar-transparent .dropdown-menu .sub-menu a:focus{
	text-decoration: underline;
}
.navbar-transparent .dropdown-menu > li > a{
	color: #222;
}
.navbar-transparent .is-sticky .navbar-default,
.navbar-transparent .sticky-wrapper .dropdown-menu, 
.navbar-transparent .sticky-wrapper .sub-menu{
	background-color:#ffffff;
}

/* ************ Navbar Sticky Dark ********************** */
.navbar-transparent-to-dark  .navbar-default{
	border-color: transparent;
	border: 0px;
}
.navbar-transparent-to-dark .sticky-wrapper{
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
}

.navbar-transparent-to-dark .navbar-default .navbar-nav > li > a{
	color: #fff;
}

.navbar-transparent-to-dark  > .dropdown-menu > li > a:focus, .navbar-transparent-to-dark  > .dropdown-menu > li > a:hover{
}
.navbar-transparent-to-dark .navbar-default{
	background-color:transparent;
}

.navbar-transparent-to-dark  .dropdown-menu{
	background-color:#222;
}
.navbar-transparent-to-dark .navbar-nav .zozo-megamenu > li a{
	color: #fff;
}
.navbar-transparent-to-dark .zozo-megamenu-title{
	color: #fff;
}
.navbar-transparent-to-dark .dropdown-menu > li > a:focus, 
.navbar-transparent-to-dark .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #fff;
}
.navbar-transparent-to-dark .dropdown-menu > li > a:focus, 
.navbar-transparent-to-dark .dropdown-menu > li > a:hover,
.navbar-transparent-to-dark .dropdown-menu > li > a, 
.navbar-transparent-to-dark .dropdown-menu .sub-menu a,
.navbar-transparent-to-dark .dropdown-menu .sub-menu li:hover > a{
	color: #fff;
}

/* Color Changes */
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .navbar-default, 
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .dropdown-menu, 
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .sub-menu{
	background-color:#222;
}
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .navbar-nav .zozo-megamenu > li a{
	color: #fff;
}
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .zozo-megamenu-title{
	color: #fff;
}
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .dropdown-menu > li > a:focus, 
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #fff;
}
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .dropdown-menu > li > a{
	color: #fff;
}
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .dropdown-menu > li > a:focus, 
.navbar-transparent-to-dark .sticky-wrapper.is-sticky  .dropdown-menu > li > a:hover,
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .dropdown-menu > li > a, 
.navbar-transparent-to-dark .sticky-wrapper.is-sticky  .dropdown-menu .sub-menu a,
.navbar-transparent-to-dark .sticky-wrapper.is-sticky .dropdown-menu .sub-menu li:hover > a{
	color: #fff;
}

/* ************ Navbar Sticky light ********************** */
.navbar-transparent-to-dark.light .navbar-default .navbar-nav > li > a{
	color: #fff;
}

/* ************ Navbar bg-image ********************** */
.navbar-bg-image > .dropdown-menu > li > a:focus, .navbar-bg-image > .dropdown-menu > li > a:hover{
}
.navbar-bg-image .navbar-default, 
.navbar-bg-image .dropdown-menu, 
.navbar-bg-image .sub-menu{
	background:url(../images/bg/bg-miror.jpg) repeat;
	background-size: cover;
}
.navbar-bg-image .navbar-default .navbar-nav > li > a{
	color: #222;
}
.navbar-bg-image .navbar-nav .zozo-megamenu > li a{
	color: #222;
}
.navbar-bg-image .zozo-megamenu-title{
	color: #333;
}
.navbar-bg-image .dropdown-menu > li > a:focus, .navbar-bg-image .dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #444;
}
.navbar-bg-image .dropdown-menu > li > a, .navbar-bg-image .dropdown-menu .sub-menu a{
	color: #222;
}
.navbar-bg-image .dropdown-menu > li > a:focus, .navbar-bg-image .dropdown-menu > li > a:hover,
.navbar-bg-image .dropdown-menu > li > a, .navbar-bg-image .dropdown-menu .sub-menu a,
.navbar-bg-image .dropdown-menu .sub-menu li:hover > a{
	color: #222;
}
.navbar-bg-image .dropdown-menu > li > a:focus,
.navbar-bg-image .dropdown-menu > li > a:hover,
.navbar-bg-image .dropdown-menu .sub-menu a:hover,
.navbar-bg-image .dropdown-menu .sub-menu a:focus{
	text-decoration: underline;
}

/* ====================== Responsive ======================== */
@media only screen and (max-width:991px) {
	/* Header logo */
	#header .navbar-header .vertical-left-align-middle-block {
		margin-top: 9px;
		top: 0;
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
	/* NavMenu */
	.navbar-nav > li > a{
		line-height: 14px;
		display: inline-block;
	}
	.dropdown-toggle{
		float: right;
	}
	.navbar-nav > li > a.dropdown-toggle::after {
		content: none;
		display: none;
	}
	.navbar-collapse.in{
		overflow-y: auto;
		max-height: 350px;
	}
	.dropdown-menu > li > a{
		display: inline-block;
	}
	.dropdown-menu{
		left: 0;
		right: 0;
	}
	.dropdown-menu, .sub-menu{
		box-shadow: none; -webkit-box-shadow: none; -ms-box-shadow: none;
		border: 2px solid;
	}
	.zozo-megamenu-title{
		display: none;
	}
	.dropdown-menu, .sub-menu {
		margin-left: 15px;
		width: 100% !important;
		/* margin-right: 15px; */
		max-width: 96% !important;
		position:relative;
	 }

	.dropdown-menu, .sub-menu {
		 -webkit-transition: all 0.5s ease 0s;
		   -moz-transition: all 0.5s ease 0s;
		    -ms-transition: all 0.5s ease 0s;
		     -o-transition: all 0.5s ease 0s;
		        transition: all 0.5s ease 0s;
	    }


	/* Sticky Navigation */
	.sticker{
		position: relative;
		z-index: 999;
	}
	/* Header Toogle */
	.header-toggle.hidden-767, .header-toggle{
		display: none;
	}
	.navbar-transparent-to-dark .navbar-default, 
	.navbar-transparent-to-dark .dropdown-menu, 
	.navbar-transparent-to-dark .sub-menu{
		background-color:#222;
	}
	.navbar-transparent-to-dark .mini-cart{
		background-color:#222;
	}
	/* Top Left Bar */
	.top-left.vertical-left-align-middle-block{
		position: relative !important;
		text-align: center;
		margin-top: 8px;
	}
	.top-right.pull-right{
		float: none !important;
		text-align: center;
	}
	.dropdown-menu > li > a{
		padding: 3px 6px;

	}

}




/* Mobile Menu Width Changes */
@media (max-width: 991px) {
	.navbar{
		z-index: 9999;
	}

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 0;
        padding: 0 0 0 15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	/* Extra Added Styles For Menu */
	.navbar-right .dropdown-menu{
		left: 0;
		right: 0;
	}
	.navbar-collapse.in{
		overflow-y: auto;
		max-height: 350px;
	}

	.navbar-collapse.collapse{
		overflow: scroll !important;
	}
	.navbar-light .navbar-toggle:hover i{
		color:#888;	
	}
	.zozo-megamenu-submenu li{
		padding:4px 0;
	}
	#header .navbar-header .vertical-left-align-middle-block {
		margin-top: 15px;
	}
	/* Mini Cart */
	.mini-cart .dropdown-menu {
		min-width: auto;
	}
	.minicart-btns-wrap a{
		padding: 0 20px;
	}
}